@import "../../../styles/_2-mixins.module.scss";

.cv {
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;

  .sections {
    display: flex;
    flex-direction: column;

    .section {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 20px 0;

      @include computer {
        flex-direction: row;
      }

      .left {
        width: 100%;

        @include computer {
          width: 185px;
        }

        h3 {
          position: sticky;
          top: 60px;
          font-size: 24px;
          line-height: 20px;
        }
      }

      .right {
        width: 100%;

        @include computer {
          width: calc(100% - 185px - 40px);
        }

        .descriptions {
          display: flex;
          flex-direction: column;
          gap: 20px;

          .description {
            .descriptionTitre {
              display: flex;
              flex-direction: column;
              justify-content: space-between;

              @include forMinWidth(1100px) {
                flex-direction: row;
              }
            }
          }
        }
      }
    }
  }
}
