@import "../../../styles/_1-variables.module";

.topbar {
  position: sticky;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 3;
  background-color: var(--darkModeBackgroundColor);
  opacity: 0.8;
  transition: all 0.3s ease;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 60px;
    height: 60px;
    max-width: 1240px;
    padding: 0 20px;
    margin: auto;

    .left {
      display: flex;
      align-items: center;

      .logoText {
        font-size: 40px;
        font-family: var(--titleFontFamily);
        text-decoration: none;
        color: inherit;

        .red {
          font-size: 40px;
          font-weight: 700px;
          color: $secondColor;
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 16px;
      color: var(--darkModeTextColor);

      .langue {
        &.menuOpen {
          color: white;
        }

        button {
          color: var(--darkModeTextColor);
          background-color: transparent;
          border-radius: 10px;
          border: none;
          font-size: 16px;
          cursor: pointer;

          &.active {
            text-decoration: underline;
          }

          &.menuOpen {
            color: white;
          }

          &:hover,
          &:focus-visible {
            color: #3e79e9;
          }
        }
      }

      .displayIcone {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 31px;
        height: 31px;
        border-radius: 50%;
        border: none;
        background-color: transparent;
        color: var(--darkModeTextColor);
        font-size: 25px;
        cursor: pointer;

        &.menuOpen {
          color: white;
        }

        &:hover {
          color: #3e79e9;
        }
      }

      .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 32.5px;
        height: 26px;
        border: none;
        background-color: transparent;
        cursor: pointer;

        span {
          height: 3.5px;
          background-color: var(--darkModeTextColor);
          transform-origin: left;
          transition: all 0.3s ease;
        }
      }
    }
  }

  &.active {
    background-color: $mainColor;
    color: white;
    opacity: 1;

    .hamburger {
      span {
        &:first-child {
          background-color: white;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          background-color: white;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
