@import "../../styles/global.scss";

.intro {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include computer {
        flex-direction: unset;
        align-items: unset;
    }

    .left {
        flex: 0.5;
        overflow: hidden;

        .imgContainer {
            width: 700px;
            height: 700px;
            background-color: crimson;
            border-radius: 50%;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            float: right;

            @include computer {
                align-items: flex-end;
            }

            img {
                height: 50%;

                @include computer {
                    height: 90%;
                }
            }
        }
    }

    .right {
        flex: 0.5;
        position: relative;

        .wrapper {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @include computer {
                padding-left: 50px;
                align-items: unset;
            }

            h1 {
                font-size: 40px;
                margin: 10px 0;

                @include computer {
                    font-size: 60px;
                }
            }

            h2 {
                font-size: 35px;
            }

            h3 {
                font-size: 20px;

                @include computer {
                    font-size: 30px;
                }

                span {
                    font-size: inherit;
                    color: crimson;
                }

                // Faire une animation pour le texte curseur
                .ityped-cursor {
                    animation: blink 1s infinite;
                }

                @keyframes blink {
                    50% {
                        opacity:1;
                    }
                    100%{
                        opacity:0; 
                    }
                }
            }

        }
        a {
            position: absolute;
            bottom: 10px;
            left: calc(50% - 15px);

            @include computer {
                left: unset;
            }

            
            img {
                width: 30px;
                animation: arrowBlink 2s infinite;
            }

            @keyframes arrowBlink {
                100%{
                    opacity: 0;
                }
            }
        }
    }
}