@import "../../../styles/_1-variables.module";
@import "../../../styles/_2-mixins.module";

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  min-height: calc(100vh - 60px);
  max-width: 1240px;
  // padding: 20px;
  margin: auto;

  @include computer {
    flex-direction: unset;
    align-items: unset;
  }

  .left {
    flex: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 20px;

    .imgContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 600px;
      height: 590px;
      background-color: $secondColor;
      border-radius: 50%;

      img {
        object-fit: contain;
        border-radius: 50%;
        width: 600px;
        height: 600px;
        margin-bottom: 10px;
      }
    }
  }

  .right {
    flex: 0.5;

    .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;

      @include computer {
        align-items: left;
      }

      .titre {
        h1 {
          font-size: 46px;
        }

        .red {
          font-size: 40px;
          color: $secondColor;
        }

        .small {
          font-size: 30px;
          font-family: var(--secondFontFamily);
        }

        .cursor {
          color: $secondColor;
          animation: blink 0.5s infinite;
          animation-direction: alternate;

          // Faire un effet de blink pour le curseur
          @keyframes blink {
            100% {
              opacity: 0;
            }
          }

          @-webkit-keyframes blink {
            100% {
              opacity: 0;
            }
          }

          @-moz-keyframes blink {
            100% {
              opacity: 0;
            }
          }
        }
      }
    }
  }
}
