@import "../../../styles/_1-variables.module";
@import "../../../styles/_2-mixins.module";

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 60px);
  max-width: 1240px;
  margin: auto;

  @include computer {
    flex-direction: unset;
    flex-direction: row;
    align-items: unset;
  }

  .left {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 10px;

    @include computer {
      padding: 20px;
      flex: 0.5;
    }

    .imgContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 300px;
      height: 295px;
      background-color: $secondColor;
      border-radius: 50%;

      @include computer {
        width: 600px;
        height: 590px;
      }

      img {
        object-fit: contain;
        border-radius: 50%;
        width: 300px;
        height: 300px;
        margin-bottom: 10px;

        @include computer {
          width: 600px;
          height: 600px;
        }
      }
    }
  }

  .right {
    @include computer {
      flex: 0.5;
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;

      @include computer {
        align-items: left;
      }

      .titre {
        h1 {
          font-size: 30px;
          margin: 0 0 10px 0;

          @include computer {
            font-size: 46px;
          }
        }

        .red {
          font-size: 24px;
          color: $secondColor;

          @include computer {
            font-size: 40px;
          }
        }

        .small {
          font-size: 16px;
          font-family: var(--secondFontFamily);

          @include computer {
            font-size: 30px;
          }
        }

        .cursor {
          color: $secondColor;
          animation: blink 0.5s infinite;
          animation-direction: alternate;

          // Faire un effet de blink pour le curseur
          @keyframes blink {
            100% {
              opacity: 0;
            }
          }

          @-webkit-keyframes blink {
            100% {
              opacity: 0;
            }
          }

          @-moz-keyframes blink {
            100% {
              opacity: 0;
            }
          }
        }
      }
    }
  }
}
