@import "../../../styles/_1-variables.module.scss";

.liste {
  margin: 0.625rem 0 0.625rem 1.25rem;

  li {
    margin: 0.3125rem 0;
  }

  // Modifier par une icône de check
  .checkListe {
    &::marker {
      content: "✓  ";
    }
  }
}
