/* Tout le site */
* {
   font-size: 100%;
   // font-family: $secondFontFamily;
   box-sizing: border-box;
   line-height: 150%;
}

html {
   scroll-padding-top: $menuHeight; // Ajuster au top menu
}

/* Mettre la logique pour le dark mode */
body {
   background-color: var(--darkModeBackgroundColor);
   color: var(--darkModeTextColor);
   transition: all 0.3s ease;
}
