@import "../../../styles/_1-variables.module";
@import "../../../styles/_2-mixins.module";

.heading {
  h2 {
    font-size: 30px;

    @include computer {
      font-size: 50px;
    }
  }

  h3 {
    font-size: 20px;
  }
}
