@import "../../styles/global.scss";

.portfolioList {
    font-size: 12px;
    margin-right: 20px;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;

    @include computer {
        margin-right: 50px;
    }

    &.active {
        background-color: $mainColor;
        color: white;
    }
}