@import "../../../styles/_2-mixins.module";

.codeLangages {
   display: flex;
   background-color: #20232a;
   color: white;
   border-radius: 10px 10px 0 0;
   padding: 10px 20px;

   div {
      cursor: pointer;
      margin-right: 10px;

      &.active {
         color: turquoise;
      }
   }
}

.codeConteneur {
   background-color: #282c34;
   border-radius: 0 0 10px 10px;
   padding: 20px;

   div {
      .chiffre {
         display: none;

         @include forMinWidth(1100px) {
            display: unset;
            color: white;
            margin-right: 30px;
         }
      }


   }
}
