@import "../../styles/global.scss";

.testimonials {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    @include computer {
        justify-content: unset;
    }

    h1 {
        font-size: 20px;

        @include computer {
            font-size: 50px;
        }
    }

    .container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include computer {
            flex-direction: unset;
            height: 80%;
        }

        .card {
            width: 250px;
            height: 180px;
            border-radius: 10px;
            box-shadow: 0px 0px 15px -8px black;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 20px;
            margin: 10px 0;
            transition: all 1s ease;

            @include computer {
                height: 70%;
                margin: 0;
            }

            &.featured {
                width: 250px;
                height: 180px;
                margin: 1px;

                @include computer {
                    width: 300px;
                    height: 75%;
                    margin: 0 30px;
                }
            }

            &:hover {
                transform: scale(1.1);
            }

            .top {
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    &.user {
                        height: 30px;
                        width: 30px;
                        border-radius: 50%;
                        object-fit: cover;
                        margin: 0 30px;

                        @include computer {
                            height: 60px;
                            width: 60px;
                        }
                    }
                }
            }

            .center {
                padding: 5px;
                border-radius: 10px;
                background-color: rgb(250, 244, 245);
                font-size: 12px;

                @include computer {
                    padding: 10px;
                    font-size: unset;
                }
            }

            .bottom {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;

                h3 {
                    margin-bottom: 5px;
                    font-size: 13px;

                    @include computer {
                        font-size: unset;
                    }
                }

                h4 {
                    color: rgb(121, 115, 115);
                    font-size: 13px;

                    @include computer {
                        font-size: unset;
                    }
                }
            }

        }
    }
}