@import "../../../styles/_1-variables.module";
@import "../../../styles/_2-mixins.module";

.projets {
  max-width: 1200px;
  margin: 0 auto;

  .projetsContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;

    .projet {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      max-width: 600px;
      width: 100%;
      margin: auto;
      padding: 30px;
      border-radius: 10px;
      box-shadow: var(--boxShadow);
      transition: all 0.5 ease;
      cursor: pointer;

      video {
        height: 140px;
        object-fit: cover;
        border-radius: 10px;
        box-shadow: var(--boxShadow);

        @include computer {
          height: 240px;
        }
      }

      .projectInfo {
        display: none;
        position: absolute;
        text-align: center;

        h3 {
          font-size: 20px;
        }
      }

      &:is(:hover, :focus-visible) {
        background-color: $mainColor;
        color: white;

        video {
          opacity: 0.2;
        }

        .projectInfo {
          display: unset;
        }
      }
    }
  }
}
