// Variables pour les couleurs
$mainColor: #15023a;
$secondColor: #dc143c;

// Variables pour les font-family
$firstFontFamily: "Bitter", "Times", serif;
$secondFontFamily: "OpenSans", "Helvetica", sans-serif;

// Variables pour la taille de l'ordinateur
$width: 800px;

// Variables pour le menu
$menuHeight  : 70px; 